html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}
header{
    height: 100px;
    width: 100%;
    background-color: aqua;
    position: relative;
}
header *{
    display: inline-block;
}

header>h1{
    padding-left: 10%;
}
header>h2{
    position: absolute;
    right: 0;
    padding-right: 10%;
}
#center {
    font-size: 0;
}
.aside{
    display: inline-block;
    width: 25%;
    height: 500px;
    background-color: yellow;
}
#middle{
    display: inline-block;
    width: 50%;
    height: 500px;
    vertical-align: top;
}